*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-size: 24px;
	background-color: #ddd;
	color: #121212;
	font-family: 'Roboto', sans-serif;
}
a{	
	text-decoration: none;
	color: #121212;
}
li{
	margin: 5px 0;
}
.header{
	padding: 10px;
	width: 100%;
	background-color: #333;
	
	text-align: center;
	font-weight: 500;
	color: #fff;
	font-size: 24px;
}
.container{
	max-width: 1190px;
	margin: 0 auto;
}
.search{
	width: 100%;
	padding: 3px 12px;
	border: 0;
	border-radius: 24px;
	font-size: 24px;

	margin: 10px 0;
}
.theme{
	display: flex;
	flex-wrap: wrap;
}
.title{
	text-align: center;
	color: #060606;
}
.theme_item{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
	align-items: center;
}
.theme_item:first-child{
	margin-top: 10px;
}
.num{
	/*width: 25px;
	height: 25px;*/
	padding: 5px;
	border-radius: 14px;
	background-color: #eee;
	margin-right: 10px;
	color: #eee;
	background-color: #333;
}
.description{
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #eee;
	border-radius: 14px;
	transition: .15s;
}
/*.description:last-child{
	margin-bottom: 0;
}*/
.description:hover{
	background-color: #4d6;
	color: #fff;
}
.not_writed{
	border: 1px solid #d46;
	background-color: #fcd;
	color: #f46;
	transition: .15s;
}
.not_writed:hover{
	background-color: #d46;
}
.focus{
	border-radius: 15px;
	margin: 5px auto;
	padding: 5px 15px;
	transition: .15s;
}
.focus:hover{
	background-color: #4d6;
	color: #fff;
}
.to_home{
	display: block;
	padding: 10px;
	margin: 10px auto;
	border-radius: 30px;
	font-weight: 500;
	background-color: #222;
	color: #fff;
	text-align: center;
	transition: .15s;
}
.to_home:hover{
	background-color: #4af;
	color: #fff;
}
tr{
	border: 1px solid #121212;
	background-color: #eee;
	border-radius: 5px;
	text-align: center;
	transition: .15s;
}
tr:hover{
	background-color: #4d6;
	color: #fff;
}
.tr_main{
	font-weight: 700;
	color: #eee;
	background-color: #333;
	transition: .15s;
}
.tr_main:hover{
	background-color: #4af
}