*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-size: 24px;
	background-color: #ddd;
	color: #121212;
	font-family: 'Roboto', sans-serif;
}
a{	
	text-decoration: none;
	color: #121212;
}
.header{
	padding: 10px;
	width: 100%;
	background-color: #333;
	
	text-align: center;
	font-weight: 500;
	color: #fff;
	font-size: 24px;
}
.container{
	max-width: 1190px;
	margin: 0 auto;
}
.search{
	width: 100%;
	padding: 3px 12px;
	border: 0;
	border-radius: 24px;
	font-size: 24px;

	margin: 10px 0;
}
.theme{
	display: flex;
	flex-wrap: wrap;
}
.description{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #eee;
	border-radius: 14px;
	transition: .15s;
}
.description:last-child{
	margin-bottom: 0;
}
.description:hover{
	background-color: #4d6;
	color: #fff;
}